@import "tailwindcss";
.emailflow-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0 0.1px 1px rgba(0, 0, 0, 0.2);
}
.emailflow-nav > .box-1 > h3,
p {
  line-height: 5px;
}

.emailflow-nav > .box-2 > button {
  border: none;
  background-color: #3030ff;
  border-radius: 5px;
  padding: 5px 8px;
  color: white;
  cursor: pointer;
}

.emailflow-main {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.emailflow-main > .inside-container {
  width: fit-content;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 5px;
  margin-top: 5px;
  cursor: pointer;
  line-height: 0;
  border: 0.0001px solid black;
}
